*
{
    padding: 0%;
    margin: 0%;
}
header{
    background-color:black;
    padding: 20px;
}
ul a img{
    padding: 0px;
    width: 5.5%;
    margin-right: 20px;
}
ul{
    margin: 0; 
    padding: 0;
    list-style-type: none;
}
ul :hover{
    color: white;
    opacity: 1;
    transition: 0.5s;
}
li{
    display: inline-block;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
}
h1{
    padding-left: 20px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}
